{% extends 'base.html' %}

{% block content %}

    <div class="post">
        <h1><a href="{% url 'post_detail' post.slug %}"> {{ post.title }} </a></h1>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}

        {% autoescape off %}{{ post.text }}{% endautoescape %}

        <div class="categories">
            {% for category in post.categories.all %}
                <li><a href="{% url 'category_detail' category.slug %}"> {{ category }} </a></li>

            {%  endfor %}
        </div>
        <button onclick="topFunction()" id="to-top-button" title="Go to top">Top</button>
    </div>

{% endblock %}